@model Transport.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "تغییر رمز عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    @using (Html.BeginForm("ChangePassword", "EditAccount", new { area = "" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
     
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel panel-heading" id="toolbar">
                        <div style="float:right">
                            <h4 class="title">تغییر رمز عبور</h4>
                        </div>
                        <div>
                            <input type="submit" value="ذخیره" class="btn btn-success" />
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="card-content">
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="col-md-12">
                                <div class="form-group label-floating is-empty">
                                    <label>
                                        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                                    </label>

                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group label-floating is-empty">
                                    <label>
                                        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                                    </label>

                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group label-floating is-empty">
                                    <label>
                                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                    </label>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

    }
</div>

@section Scripts {
<script src="~/Content/material.min.js"></script>
<script src="~/Content/material-dashboard.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
