@model Transport.Models.IndexViewModel
@{
    ViewBag.Title = "تغییر رمز عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <a href="/" class="navbar-brand-title">لیست درخواست های کاربر</a>
        </div>
        <div id="PersonnelList" class="row">
            <div class="col-md-12">
                <div class="well">
                    <p class="text-success">@ViewBag.StatusMessage</p>
                </div>
                <div class="col-md-12">
                    <p>
                        @if (Model.HasPassword)
            {
                            @Html.ActionLink("تغییر دوباره رمز عبور", "ChangePassword")
                        }
                        else
                        {
                            @Html.ActionLink("گرفتن پسورد جدید", "SetPassword")
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
        @*<p>
                Phone Number: @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Change", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remove", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Add", "AddPhoneNumber")
                }
                ]
            </p>
            <p>
                External Logins: @Model.Logins.Count
                @Html.ActionLink("[Manage]", "ManageLogins")
            </p>
            @if (Model.TwoFactor)
            {
                <form method="post" action="/Manage/DisableTFA">
                    <p>
                        Two factor is currently enabled:
                        <input type="submit" value="Disable" class="btn btn-default"/>
                    </p>
                </form>
            }
            else
            {
                <form method="post" action="/Manage/EnableTFA">
                    <p>
                        Two factor is currently disabled:
                        <input type="submit" value="Enable" class="btn btn-default"/>
                    </p>
                </form>
            }
            @if (Model.BrowserRemembered)
            {
                <form method="post" action="/Manage/ForgetBrowser">
                    <p>
                        Browser is curently remembered for two factor:
                        <input type="submit" value="Forget Browser" class="btn btn-default" />
                    </p>
                </form>
            }
            else
            {
                <form method="post" action="/Manage/RememberBrowser">
                    <p>
                        Browser is curently not remembered for two factor:
                        <input type="submit" value="Remember Browser" class="btn btn-default"/>
                    </p>
                </form>
            }*@
